body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background: linear-gradient(135deg, #00bcd4, #00796b);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}



.logo {
  max-width: 100px; 
  height: auto; 
  margin-right: 20px; 
}

.header-title {
  flex: 1; 
  text-align: center; 
  margin: 0; 
}

.menu-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none; 
}

.header-nav {
  display: flex;
}

.header-nav a {
  color: white;
  text-decoration: none;
  margin-left: 30px; 
  font-weight: bold;
}

.header-nav a:first-child {
  margin-left: 0;
}

.header-nav a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
}

main {
  padding: 20px;
  flex-grow: 1;
}

section {
  margin-bottom: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.semanas-container {
  display: flex;
  flex-direction: column;
}

.semana {
  margin: 10px 0;
  padding: 10px;
  background-color: #e8f5e9;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  cursor: pointer;
}

.imagen-semana {
  display: block;          
  margin: 20px auto;    
  max-width: 70%;        
  height: auto;         
}


.semana:hover {
  background-color: #c8e6c9;
}

.submenu {
  margin-top: 5px;
  padding: 10px;
  background-color: #f1f8e9;
  border-left: 4px solid #4CAF50;
}

footer {
  background-color: #e0f7fa; 
  color: #004d40; 
  padding: 15px;
  text-align: center;
}



@media (min-width: 768px) {
  .header-nav {
      display: flex; 
  }

  .menu-toggle {
      display: none; 
  }

  main {
      flex-grow: 1;
      padding: 20px;
  }
}

@media (max-width: 767px) {
  .menu-toggle {
      display: block; 
  }

  .header-nav {
      display: none; 
      flex-direction: column; 
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #37abea;
      width: 100%;
  }

  .header-nav.active {
      display: flex; 
  }

  .header-nav a {
      margin: 10px 0; 
      text-align: center; 
  }
}
